.gallery {
    list-style-type: none;
    max-width: 1128px;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 24px 24px;
    box-sizing: border-box;
    margin-top: 32px;
}

.gallery-item {
    width: calc((100% - 2 * 24px) / 3);
}
